#door {
  margin-top: 125px;
  left: 38%;
  position: relative;
}
#left {
  position: absolute;
}
#center {
  position: relative;
}
#right {
  position: relative;
  left: -235px;
}

#topLine{
  position: absolute;
  top: 2px;
  left: -367px;
  border-top: 1px solid #00f500;
  border-bottom: 1px solid #00f500;
  width: 960px;
  height: 244px;
}
 #cleared{
  text-align: center;
  font-size: 20px;
}
