.screen h1, .screen h2 {
  text-align: center;
}

#twinkie {
  position: absolute;
  top: 550px;
  left: 38%;

}

#prize {
  text-align: center;
}

#door {
  margin-top: 75px;
  left: 38%;
  position: relative;
}
#left {
  position: absolute;
}
#center {
  position: relative;
}
#right {
  position: relative;
  left: -235px;
}
.screen p {
  text-align: center;
}
