.screen h1, .screen h2 {
  text-align: center;
}

#twinkie {
  position: absolute;
  top: 550px;
  left: 38%;
}

#prize {
  text-align: center;
}

#slugHover {
  position: absolute;
  width: 240px;
  height: 250px;
  left: 40%;
  top: 480px;
  z-index: 6;
}
/*#slugClick {
  position: absolute;
  width: 240px;
  height: 250px;
  left: 40%;
  top: 480px;
  z-index: 6;
}*/

#door {
  margin-top: 75px;
  left: 38%;
  position: relative;
}
#left {
  position: absolute;
}
#center {
  position: relative;
}
#right {
  position: relative;
  left: -235px;
}
.screen p {
  text-align: center;
}
#putAlias {
  color: #FF902A;
}
#vaultText {
  font-weight: bolder;
  font-size: 25px;
}
#clickText {
  font-weight: bold;
  font-size: 20px;
  color: #FF902A;
}

